<script src="../../static/network/allposts.js"></script>
{% extends "network/layout.html" %}

{% block body %}
<div id="allpostsdiv">
{% for post in page_obj %}
    {{post.post.content}}<br/>
    <i>posted by </i><a href="{% url 'profile' post.post.poster.username %}">{{ post.post.poster.username|upper }}</a><br>
    {{ post.post.timestamp }}<br/>
    <p><span>Likes: </span><span id="likecount_{{ post.post.id }}">{{post.post.likes.count }}</span> 
        <button class="likeactionbutton" data-postid={{post.post.id}}>
           {{post.liketext}}
        </button>
    </p>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}