
{% extends "network/layout.html" %}

{% block body %}
<p>
<h1>Following Posts</h1>
    {% for post in page_obj %}
    <p>{{post.content}}</p>
    <p>{{ post.timestamp }}</p>
    <i>posted by </i>{{post.poster.username|add:" - "|add:post.poster.email}}<br>
    {% empty %}
    <p>No posts yet.</p>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    </p>
    {% endblock %}